.App {
  text-align: center;
  padding: 20px;

}

.BreweryDetails {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.SearchInput {
  width: 99%;
  margin-bottom: 20px;
  height: 25px;
  padding-left: 10px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
  border: 1px solid black;
  border-radius: 10px;;
  margin-bottom: 10px;
  padding: 10px;
}